:root {
  --light-text: rgba(255, 255, 255, 1);
  --light-background: rgba(255, 255, 255, 1);
  --middle-background:rgba(245, 244, 250, 1);
  --dark-text: rgba(33, 33, 33, 1);
  --main-text: rgba(117, 117, 117, 1);
  --accent: rgba(33, 150, 243, 1);
  --dark-accent: rgba(24,140,232,1);
  --light-text-op60: rgba(255, 255, 255, 0.6);
  --background-dark: rgba(47, 48, 58, 1);
  --background-dark15: rgba(0, 0, 0, 0.15);
  --shadow-team: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  --box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  --border-bottom: rgba(236, 236, 236, 1);
  --btn-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  --item-flex-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  --icon-text-color: rgba(175, 177, 184, 1);
  --background-footer-icon: rgba(255, 255, 255, 0.1);
  --light-border: rgba(238, 238, 238, 1);
  --thumb-accent: rgba(33, 150, 243, 0.9);
  --hero-dark-gradient: rgba(47, 48, 58, 0.4);
  --modal-dark-background: rgba(0, 0, 0, 0.2);
  --modal-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
} 

body {
  background-color: var(--light-background);
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  color: var(--dark-text);
  letter-spacing: 0.03em;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  /* outline: 2px solid tomato; */
  padding-left: 15px;
  padding-right: 15px;
}