.contacts {
    display: flex;
  margin-left: auto;
  color: var(--main-text);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contacts__item {
  display: flex;
  align-items: center;
  transition-property: color;
  transition-duration: 250ms;
  margin-left: 50px;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
  color: var(--accent);
  }
}
.contacts__link {
  color: inherit;
  font-family: Roboto;
}

.contacts__icon-letter {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  /* fill: var(--main-text);  */
  fill: currentColor;
}
.contacts__icon-phone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}