.footer {
  background-color: var(--background-dark);
}
.footer__container {
  padding-top: 60px;
  padding-bottom: 60px;
}
.link-logo--white {
  color: var(--light-text);
}
.footer__address {
  display: block;
  margin-top: 20px;
  margin-bottom: 9px;
  margin-right: 70px;
  color: var(--light-text);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
.footer__mail {
  display: block;
  margin-bottom: 9px;
}
.footer__mail,
.footer__tel {
  color: var(--light-text-op60);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  margin-right: 70px;
}
.footer__join{
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--light-text);
  padding: 0;
  padding-bottom: 20px;
  margin: 0;
}
.btn-socials--dark {
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: none;
  background-color: var(--background-footer-icon);
  color: var(--light-text);
  padding: 0;
  margin-right: 10px;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
  background-color: var(--accent);
  color: var(--light-text);
  }
}
.footer__list {
  display: flex;
  align-items: baseline;
}
.footer__network {
  margin-right: 93px;
}

// gjkyjcnm. hf,jxbq dfhbfyn
.footer {
  background-color: var(--background-dark);
}
.footer__container {
  padding-top: 60px;
  padding-bottom: 60px;
}
.link-logo--white {
  color: var(--light-text);
}
.footer__address {
  display: block;
  margin-top: 20px;
  margin-bottom: 8px;
  color: var(--light-text);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  @media screen and (min-width: 768px){
 margin-right: 165px;
  }
  @media screen and (min-width: 1200px){
 text-align: left;
 margin-right: 70px;
 margin-bottom: 9px;
  }
}
.footer__logo {
  @media screen and (max-width: 1200px){
    display: block;
    text-align: center;
  }
}
.footer__mail {
  margin-bottom: 8px;
  @media screen and (min-width: 1200px){
  margin-bottom: 9px;
  }
}
.footer__mail,
.footer__tel {
  display: block;
  color: var(--light-text-op60);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
@media screen and (min-width: 1200px){
  margin-right: 70px;
  text-align: left;
  }
}
.footer__tel { 
    margin-bottom: 60px;
@media screen and (min-width: 1200px){
    margin-bottom: 0;
  }
}
.footer__join{
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--light-text);
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
  @media screen and (min-width: 1200px){
  text-align: left;
  }
}
.footer__buttons {
  display: flex;
  justify-content: center;
  align-content: center;
  @media screen and (max-width: 480px){
  margin-bottom: 60px;
  }
}
.btn-socials--dark {
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: none;
  background-color: var(--background-footer-icon);
  color: var(--light-text);
  padding: 0;
  margin-right: 10px;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
  background-color: var(--accent);
  color: var(--light-text);
  }
}
@media screen and (min-width: 1200px){
  .footer__list {
  display: flex;
  align-items: baseline;
  }
.footer__network {
  margin-right: 93px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__list {
    flex-wrap: wrap;
    margin-right: -30px;
    margin-top: -30px;
  }
  .team__item {
    margin-right: 30px;
    margin-top: 30px;
    width: 354px;
  }
}








